<%= render "boot", article: @article %>

<body class= " m-0 vh-100 row justify-content-center align-items-center">
    <div class= "col-lg-8 mx-auto">
        <div class = "card shadow">
            <div class= "card-header">
                    <h1 class = "card-title text-center"><%= @article.title %></h1>
            </div>
                
             <div class = "card-body ">
                <div class="row">
                    <div class="col-md-6 text-start m-auto">
                        <p class="fs-4 fw-bold"><%= @article.body %></p>
                    </div>

                    <div class="col-md-6 d-flex justify-content-end m-auto">
                        <%= link_to "Main Page", root_path, class: "btn btn-light" %>
                    </div>
                </div>

                    <ul class="text-center">
                            <%= link_to "Edit", edit_article_path(@article),class:"btn btn-light mx-auto" %>
                            <%= link_to "Destroy", article_path(@article), data: {
                                                turbo_method: :delete,
                                                turbo_confirm: "Are you sure?"
                                            }, class:"btn btn-light mx-auto" %>
                    </ul>
            </div>
        </div>
    </div>
     
</body>


